
body{
    height: 100vh;
    overflow: hidden;
    background-color: green;
    display: flex;
    justify-content: center;
    font-family: Arial;

}

.modal{
    position: absolute;
    color: white;
    background-color: rgba(166, 3, 3, 0.94);
    padding:20px;
    width: 250px;
    border-radius: 15px;
    top: 10px;
    right: 10px;
    text-align: center;
    display: none;
}


.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.form{
    height: 300px;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.54);
    display: flex;
    flex-direction: column;
    padding:10px;
    justify-content: center;
}

input{
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: rgba(112, 110, 110, 0.15);

}
button{
    margin: 10px;
    padding: 10px;
    background-color: #008000;
    color: white;
    border: none;

}
button:hover{
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.54);
    border-radius: 2px;
    cursor: pointer;
}
input:focus{
    border-radius: 2px;
    outline: none;

}

p{
    text-align: center;
    color: rgba(112, 110, 110, 0.52);;
}
a{
    color: green;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    text-shadow: 1px 1px rgba(0, 128, 0, 0.64);
}

span{
    color: green;
    font-size: x-small;
   padding-left: 10px;
   display: flex;
   flex-direction: row;
}















